@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
  --main-clr: #00617a;
  --secondary-clr: #40889cf2;
  --gray-clr-1: #ddd;
  --gray-clr-2: #ccc;
  --gray-clr-3: #aaa;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
}
.calendar {
  border: 5px solid var(--main-clr);
  width: calc(1000 / 16 * 1rem);

  border-radius: 16px;
  padding: 48px 32px 16px;

  &__header {
    display: flex;
    margin-bottom: 3rem;
  }

  &__controls {
    display: flex;
    gap: 14px;
  }

  &__prevBtn,
  &__nextBtn {
    background-color: transparent;
    border: none;
  }

  &__headline {
    margin-left: auto;
    font-size: 1.2rem;
    color: var(--secondary-clr);
  }

  &__todayBtn {
    border: 1px solid var(--gray-clr-2);
    background: transparent;
    color: var(--gray-clr-1);
    border-radius: 4px;
    padding: 6px 8px;
  }

  &__selectMonths {
    border: none;
    font-size: 1.2rem;
    padding-inline: 4px;
  }

  &__closeBtn {
    border: none;
    cursor: pointer;
    background-color: var(--main-clr);
    padding: 12px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    transition: 0.2s;

    &:hover {
      filter: brightness(1.2);
    }
  }

  &__body {
    position: relative;
  }
  &__weekdays {
    display: flex;
    text-align: left;
    margin-bottom: 1.5rem;

    & > * {
      flex: 1;
    }
  }

  &__daysContainer {
    display: grid;
    grid-template-columns: repeat(7, calc(926px / 7));
    border-top: 1px solid var(--gray-clr-1);
    border-left: 1px solid var(--gray-clr-1);
  }

  &__day {
    margin-bottom: 0.8rem;
    display: block;
    padding-inline: 12px;
  }

  &__cell {
    border-bottom: 1px solid var(--gray-clr-1);
    border-right: 1px solid var(--gray-clr-1);
    padding-block: 12px;
    font-size: 1.2rem;
    font-weight: 900;
    min-height: 120px;
    position: relative;
  }

  &__cell:has(.event) {
    cursor: pointer;
  }

  .event-container {
    padding-inline: 6px;
  }
  .event {
    padding-inline: 6px;
    position: relative;
  }

  .event--long {
    position: absolute;
    width: 300%;
    height: 1.4rem;
    padding: 4px;
    left: 0;
    right: 0;

    background: lightblue;
    border-radius: 8px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 9;
  }

  .event__time {
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--gray-clr-3);
  }

  .event__title {
    font-size: 0.8rem;
  }

  .event + .event {
    margin-top: 0.5rem;
  }

  .list-panel {
    position: absolute;
    inset: 0;
    border-top: 1px solid var(--main-clr);
    background-color: white;
    z-index: 99;

    opacity: 0;
    visibility: hidden;
    transition: 0.2s;

    padding-top: 50px;
  }

  .list-panel.open {
    visibility: visible;
    opacity: 1;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 64px;
  }

  &__link {
    text-decoration: none;
    display: flex;
    align-items: start;
    gap: 1rem;
  }
  .date-container {
    display: flex;

    i {
      align-self: center;
    }
  }

  .panel__img {
    flex: 0 0 340px;
    height: 170px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .article__date {
    text-align: right;
    flex-basis: 10%;

    & > * {
      display: block;
    }
  }
  .article__weekDay {
    font-size: 0.9em;
    text-transform: uppercase;
    color: var(--gray-clr-3);
    font-weight: 500;
  }
  .article__day {
    font-size: 1.4rem;
    font-weight: 900;
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 24px;
    gap: 10px;
  }

  .content.isfeatured {
    border-left: 3px solid blue;
  }

  .article__title {
    font-size: 2rem;
  }

  .building {
    font-weight: 700;
  }
}

address {
  font-style: normal;
}

.date {
  font-weight: 500;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  padding-right: 8px;
}

.currentDay {
  color: blue;
}

.notCurrentMonth {
  color: var(--gray-clr-1);

  .event__time {
    color: inherit;
  }
}

img {
  height: 75px;
  width: 100%;
  object-fit: cover;
}

.bookmarked {
  border-left: 2px solid blue;
}

.event-placeholder {
  height: 25px;
  margin-bottom: 0.5rem;
}

.featured {
  font-weight: 900;
  color: blue;
  margin-right: 0.8rem;
}
